[2021-09-07 16:10] soerenthomsen opened #1 "index.html file build but just see html code"
I just run pandoc manually to rebuild the index.html file. this worked but I just see the html code. I assumed it will be a nice webpage style? @tomhull

[2021-09-08 12:57] #1 closed

[2021-09-08 12:58] soerenthomsen commented on #1
link has been changed to markdown file

[2021-09-08 16:22] soerenthomsen opened #5 "Should we always build the html and pdf automatically to ensure errors are identified directly?"
By adding a section to oxygen.md, I just had some issues as I copied over from formatted text so the pdf could not be build. Greek letters like mumol where the issue. For now I just write "mu" and the pdf is build.

I think it is saver to let the two actions run each time something was added to oxygen.md to ensure it is easier to find the issue. @tomhull

[2021-09-08 18:45] tomhull commented on #5
The problem is the action that builds the pdf also performs a commit, you'd
get in a commit->build loop.
Later I could make it so it runs before we make a release, then we can
check for any problems.

to get mu to render you'd do \mu, it won't look right in github, but it
will render correctly through pandoc

On Wed, 8 Sept 2021 at 17:22, Sören Thomsen ***@***.***>
wrote:

[2021-09-10 12:42] #5 closed

[2021-09-20 08:06] soerenthomsen opened #19 "review DMQC section"
Parts of the DMQC chapter has still not been moved to GitHub and there might be some convergence needed related to the chapter "Sensor time response correction".

@tomhull are you ok to take the lead on this?

[2021-09-20 08:07] soerenthomsen opened #20 "Open comments on the google doc should be transformed into issues"
all open comments should be kept during the move to GitHub

[2021-09-20 08:16] soerenthomsen opened #21 "import original images for figures into repo"
everyone is more than welcome to support us with this. ensure you have the copyright for the pictures. @patricialg here we organize the moving of the images

[2021-09-20 08:22] soerenthomsen commented on #21
@bastienqueste could you support us with these ones?

I copied the figure captions below to help

- [ ] AROD-FT sensor mounted on a SeaExplorer glider (credit: ALSEAMAR)
- [ ] "Oxygen saturation from a Rinko AROD-FT on a SeaExplorer glider in the Bornholm Basin (Voice of the Ocean Foundation and University of Gothenburg)."
- [ ] "Rinko AROD-FT in the flooded nose cone payload bay of a SeaExplorer

[2021-09-20 08:32] soerenthomsen commented on #21
@hahn-johannes could you copy over these pictures:
- [ ] "Several GEOMAR oxygen data loggers (Aanderaa Optode mounted on data logger) attached to a CTD frame and prepared for in-situ calibration during a CTD cast. Panels in the upper row show fixation with straps and zip ties. Panel in the lower row shows fixation with scaffolding clamps and tape in the interior lower part of the CTD frame."

[2021-09-20 09:32] soerenthomsen opened #22 "Suggested sampling period for optode deployment"
There was an open discussion on this what we can recommend here.

i.e Tania Morales raised the point:
is it a recommended sampling period for every situation or is it totally dependent on the mission planning (objectives, battery life, etc)?

Is a general recommendation useful/possible, if not we should at least write what kind of thoughts have to go into this decision.

[2021-09-20 10:00] soerenthomsen opened #23 "Citations"
We have to add these citations to oxygen.bib

- [x] Moat et al XXX, related to laminar flow, Slocum sensor integration chapter was closed with #36
- [x] Presens XXXX, Section Storage and cleaning [here](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/oxygen.md#storage-and-cleaning)
- [ ] ...

[2021-09-20 11:09] soerenthomsen commented on #21
@tomhull could you copy over the HQ image for:
- [ ] "Effect of dry foil, first dives show elevated oxygen concentrations and slow foil response times. taken from AlterEco AE2 Slocum “Stella” using a 4330 optode (standard foil)."

[2021-09-20 11:24] soerenthomsen opened #24 "Observe data for evidence of biofouling"
We need an example for separating real and "biofouling" diurnal cycling.

[2021-09-20 20:29] soerenthomsen opened #31 "License"
We have to decide on a licence. I will discuss with Ocean Best Practice System (OBPS) and Frontiers Journal to ensure we do all correct.

Likely we will choose a CC https://creativecommons.org Licence.

If there is anyone with experience on this please let us know.

[2021-09-23 08:32] tomhull commented on #31
I think CC is the right choice.

[2021-09-23 09:40] soerenthomsen commented on #31
Yep but which exactly we might have to elaborate with the Journal we plan to publish and OBPS or? Also this impacts the choice of images we can take etc.

[2021-09-23 10:34] tomhull opened #35 "Add automated test of valid PDF"
Someone (me) needs to set up automated testing of the PDF trigged when a pull request is submitted.

[2021-09-23 13:52] soerenthomsen opened #38 "review RTQC section"
This has to be coordinated with all DACs who already do anything on Oxygen RTQC.

[2021-09-23 13:53] soerenthomsen opened #39 "adding table of content"
Tom will try to add this automatically

[2021-09-23 14:07] #39 closed

[2021-09-24 12:55] soerenthomsen opened #42 "add all names to image permissions.md"
Everyone who contributed an image where they hold the copyright please add your name etc here:
https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/images/permissions.md

[2021-09-24 13:19] soerenthomsen commented on #19
The main content has been move by @tomhull via #43, it would be good if @gkrahmann and Mun Woo read this section and start a new issues in case they disagree or want to add content.

[2021-09-24 13:24] tomhull commented on #22
I agree with Tania, but yes it is worth outlining what the considerations are, maybe with some specific examples.

Low sampling frequency makes lag correction more difficult, I would suggest if there is a strong oxycline to always sample at 5 s period for the region around the oxycline.

I'd also highlight that periodic dives with high frequency sampling may be more useful than continuous measurem

[2021-09-24 13:28] soerenthomsen commented on #22
Yes makes sense to me. Would you mind adding this at the correct place so we can close the issue?

[2021-09-24 13:52] soerenthomsen commented on #35
Right now I can only build a pdf if I turn off the branch protection role (1 review required). But just build a new pdf after your DMQC input. Worked!

[2021-09-24 15:31] tomhull commented on #35
So, couple of options.
I can make it so when you run the action to build the PDF it doesn't commit the new file.
It could add it to the current release, or it just gets attached to the end of the job when you call it (and not updated in the repository).
I can make a seperate job to add a new version.
any preference?

For the HTML, It'll be on it's own branch at all times mirroring the main one.
I'

[2021-09-27 08:25] soerenthomsen commented on #38
Thanks @catsch @vracape @cgourcuf for your great work I closed #44
I will add the figures now and will ask you to review your chapter when I am done.

[2021-09-27 09:31] soerenthomsen commented on #38
Ok done for now.
Could one of you give the RTQC a quick review?
@catsch @vracape @cgourcuf and let me know here so I can close this issue?

[2021-09-27 09:37] soerenthomsen commented on #35
I am not sure tbh. Let's discuss this together with @jbusecke this afternoon.

[2021-09-27 09:50] soerenthomsen commented on #19
I gave it a 2nd read and corrected a few typos in #46.

[2021-09-27 10:59] gkrahmann commented on #19
Hi all,
for the requested plots:
Do we want to have similar plots for the different methods ?
Since I haven't yet made any plots, I can do whatever is preferred ?

[2021-09-27 11:06] soerenthomsen commented on #19
Hi Gerd, thanks for engaging!

Indeed good point. It would be great to show the same (similar) parameters for all different methods.
I suggest @tomhull and you decide which parameters should be shown in such an SOP here and we try to get similar plots for the other methods too.

[2021-09-27 11:19] vracape commented on #38
hi Soeren,

I have just done a quick review. You will recieve my requirement from
github.

Regarding the equation in the section "Outlier and spike check", it is
visible on oxygen.md but not in the pdf version.

cheers

Virginie

Le 2021-09-27 11:31, Sören Thomsen a écrit :

Links:
------
[1] https://github.com/catsch
[2] https://github.com/vracape
[3] https://github.com/cgourcuf
[4]
https://githu

[2021-09-27 12:13] soerenthomsen commented on #38
Salut Virginie, thanks for taking the time to review. Yes we are aware of this formation issue in the formulas and will work on this today to ensure it is visible in all versions. For now we have to write also /mu etc.

[2021-09-27 12:15] soerenthomsen commented on #38
@castelao you told me you wanted to have a look at the RTQC section

https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/oxygen.md#real-time-data-processing--quality-control

[2021-09-27 13:06] soerenthomsen opened #48 "reachable accuracy with multi-point calibration"
At the end of Section [Calibration equation and firmware versions](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/oxygen.md#calibration-equation-and-firmware-versions) we write: `During/between field deployments there are possibilities for end users to post-adjust the sensors either by a one-point air-saturation adjustment or by taking reference samples (e.g. water samples and Winkl

[2021-09-27 13:14] soerenthomsen opened #49 "discussion on experimenting with copper-coating"
Copied over from the Google Doc

@tomhull "I had the idea of copper-coating the foil holder (the plastic disk which keeps the foil in place), but I was concerned with galvanic corrosion. currently testing it with a broken optode on a mooring."

@gkrahmann "I remember we had corrosion on moored optodes exactly there even without copper. Don't remember where and when, but I could search for pictures

[2021-09-27 14:04] soerenthomsen opened #50 "add error bar due to atmospheric pressure changes"
@hahn-johannes wrote: "We could first of all mention, that about 3 mbar difference in air pressure would result in 1µmol/kg difference in oxygen saturation concentation (I just checked the saturation concentration at different air pressures and different temperatures, S=0).

I have not done any sophisticated statistics about the uncertainty of air pressure (and all its incluencing factors), but I

[2021-09-27 14:06] soerenthomsen opened #51 "how many combined up and downs needed for good regression / time response correction"
@bastienqueste:

"From experience, I find that anything less than 10 dives with both up and down for regressing is insufficient (whether it's Salinity, oxygen or flight model lags).
I think best practice should just be to get as many pairs of up and down as possible. It's the one golden benefit of gliders, it really helps with assessing data quality and regressing. Basically no other platform has

[2021-09-27 14:12] soerenthomsen opened #52 "Add deep gliders"
We miss input for deep gliders. Anyone has experience with this?
Filipa Carvaho (@pipa85) might be able to give input?

Filipa Carvaho: "most of our deployments are 1000m from slocums. can contribute.
also, we have been playing a bit with comparing the upper 500m (up vs down) and 500m-1000m (down vs up) because in 4h (1000m dive) water masses can change a lot, especially in dynamic places like the

[2021-09-27 14:47] #23 closed

[2021-09-28 08:58] gkrahmann commented on #51
At GEOMAR we usually do a minimum of one up-down day per week of the deployment. An important point is to cover the whole deployment with up-down pairs to be able to detect developments of the sensors. For salinity we do the same.
This one day per week usually gives enough pairs for assessing data quality and determining the coefficients.

[2021-09-28 13:15] soerenthomsen commented on #51
Thanks @bastienqueste and @gkrahmann for your input. Would you mind reviewing this 3 sentence section:
Gather data to help correct for sensor response time
https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/oxygen.md#gather-data-to-help-correct-for-sensor-response-time

at the moment we write:
`Regular up- and down casts are needed to estimate and correct for the sensor response time. C

[2021-09-28 13:33] soerenthomsen commented on #22
I drafted something based on your input @tomhull

Please revise if needed here: #56

[2021-09-28 14:28] soerenthomsen commented on #31
I suggest we choose: [CC-BY 2.0](https://creativecommons.org/licenses/by/2.0/)

Any thoughts. @gkrahmann @bastienqueste @tomhull

[2021-09-28 16:29] soerenthomsen commented on #31
We might also go for

CC BY-SA: This license allows reusers to distribute, remix, adapt, and build upon the material in any medium or format, so long as attribution is given to the creator. The license allows for commercial use. If you remix, adapt, or build upon the material, you must license the modified material under identical terms.
- CC BY-SA includes the following elements:
- BY  – Credit m

[2021-09-29 09:03] gkrahmann commented on #31
Just as a comment:
Forcing derived works to license under identical terms often leads to problems.
The code (or texts) where you include the derived works may require a different license and then this means
that it **cannot** be properly licensed and included.
If there is a way that avoids the 'identical', then I would prefer that way.

[2021-09-29 13:30] soerenthomsen commented on #48
It would be great if we could agree on the formulation before starting the community review.

[2021-09-29 14:46] soerenthomsen commented on #35
When doing this we also have to solve issues related to formulas etc

[2021-09-29 15:42] #22 closed

[2021-09-30 10:26] gkrahmann commented on #19
I have submitted a picture. Have a look at it, whether it makes sense this way. It is tricky to show everything in one plot.

[2021-09-30 10:51] soerenthomsen commented on #19
Thanks Gerd. I merged it and it worked. I think for now we just try to make the DMQC chapter look ok for the community review. So all good.

[2021-09-30 11:00] #20 closed

[2021-09-30 11:58] soerenthomsen commented on #19
TO DO:
- [ ] get feedback from IMOS (Mun Woo) on their methods part
- [ ] ...

[2021-09-30 12:53] ptestor opened #62 "Emphasize metadata management"
I would suggest to change the heading "Real time data processing" in "Required metadata and real time data processing"

[2021-09-30 13:10] soerenthomsen commented on #62
Thanks for raising this point!

[2021-09-30 13:20] soerenthomsen opened #63 "Data delivery to public open access archives"
As discussed today with @ptestor.

In the chapter [data-sharing](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/sections/data_sharing.md), we want to link the users to the relevant information, where and how they can store their DMQCed data in open access archives, with a doi etc.

As this is the same for all SOPs, a link to the relevant document provided by the data management team

[2021-09-30 20:29] utterances-bot opened #71 "Community review test comments"
# OceanGliders Oxygen SOP Readme — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/README.html](https://oceangliderscommunity.github.io/Oxygen_SOP/README.html)

[2021-09-30 21:57] soerenthomsen commented on #71
Test: Thanks for setting this up!

[2021-09-30 22:00] soerenthomsen commented on #71
References are not building on the Jupyter book @jbusecke

[2021-10-01 07:44] soerenthomsen opened #72 "References don't build on jupyter book"
So far no reference list is build on Jupyter book

[2021-10-01 07:45] soerenthomsen opened #73 "review figure captions"
So far the figure captions are not build in jupyter book

[2021-10-01 07:46] soerenthomsen opened #74 "change all mumol/kg to latex formula style"

[2021-10-01 07:48] soerenthomsen opened #75 "2. Introduction => 1. Introduction"
on Jupyter books

[2021-10-01 08:18] #74 closed

[2021-10-01 08:22] soerenthomsen opened #76 "Harmozing oxygen unit's"
We should follow Argo unit conventions and always use mumol/kg.
I changed it wherever it was clear.

@tomhull could you check the case

`1 uM [@Langdon2010],`

in [this chapter](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/oxygen.md#two-point-calibration-procedure-optode-example)

[2021-10-01 08:34] soerenthomsen commented on #71
I think this commenting function is great as it requires not GitHub skills (still an account though).

If we split the file now into different chapter files, all the comments are also directly linked to the right chapters.

[2021-10-01 08:36] soerenthomsen opened #77 "update contributors guide"
- add jupyter book commenting option

[2021-10-01 09:32] soerenthomsen opened #78 "Migrate to the new Table of Contents structure"
@jbusecke I tried to organize the book as described here with chapters and sections.
But got the error message in action "deploy-book #19"

I think we might need to "Migrate to the new Table of Contents structure" as described here
https://jupyterbook.org/customize/toc.html

[2021-10-01 10:24] soerenthomsen opened #79 "add example image of IMOS correction"
I moved this todo from the main document to keep it clean.

[2021-10-01 10:26] soerenthomsen opened #80 "review IMOS DMQC section"
@tomhull raised this question.
"is the IMOS correction done in phase or oxygen? "
I guess Mun Woo can answer this.

- [ ] review of overall IMOS DMQC section by Mun Woo

This relates to this chapter [here](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/sections/oxygen_dmqc.md#time-response-correction-2---imos)

[2021-10-01 11:15] gkrahmann commented on #24
Here are two examples of bio-fouled optodes.
In the first after nearly two months green slime on the foil produces oxygen when in light. Dark red at lower right.
In the second a gooseneck barnacle decided to settle on the foil and at the end totally blocked the exchange of oxygen.
if you want, I can create nice plots
![bio_fouling_ox_ex1](https://user-images.githubusercontent.com/68220892/13561082

[2021-10-01 12:46] #75 closed

[2021-10-01 16:53] soerenthomsen commented on #73
I adapted all figure captions. Would be great if someone could review all figures and check that everything is there.

Still to do:
- [ ] referencing figures inside the text

[2021-10-01 16:55] #78 closed

[2021-10-01 17:02] soerenthomsen commented on #19
I close this and start a specific IMOS DMQC issue.

[2021-10-01 17:02] #19 closed

[2021-10-01 17:06] soerenthomsen commented on #24
Thanks a lot Gerd. Yes would be great to have some plots with examples. Can you just post them here with a caption?

As you can see i am restructuring the whole SOP at the moment. Splitted the one big file into all sections. so please no more updating of oxygen.md!

[2021-10-01 17:08] soerenthomsen commented on #35
Jupyter Books and @jbusecke solved this issue! Thanks!

[2021-10-01 17:08] #35 closed

[2021-10-01 17:09] soerenthomsen commented on #79
i will add this to issue #80

[2021-10-01 17:09] #79 closed

[2021-10-04 06:26] soerenthomsen commented on #51
I think it is well captured. So I close this.
@isgiddy maybe take a not for the salinity SOP to suggest the same.

[2021-10-04 06:26] #51 closed

[2021-10-04 06:27] soerenthomsen commented on #21
@patricialg do we have the picture with the laptop connected to the opdode in the images folder?

[2021-10-04 06:31] soerenthomsen opened #81 "review that all content has moved into sections"
I have copied all content into different chapters
https://github.com/OceanGlidersCommunity/Oxygen_SOP/tree/main/sections

@patricialg could you review whether all content moved over before I remove oxygen.md?

The easiest way is likely to open the nice online version: https://oceangliderscommunity.github.io/Oxygen_SOP/oxygen.html
and compare it with the old oxygen.md file.

[2021-10-04 06:32] utterances-bot opened #82 "Comments DMQC"
# 7. Delayed Mode Quality Control (DMQC) — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_dmqc.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_dmqc.html)

[2021-10-04 06:32] soerenthomsen commented on #82
I suggest to remove the DMQC from the chapter title

[2021-10-04 06:42] soerenthomsen commented on #72
I start working on this here #83

[2021-10-04 09:37] soerenthomsen commented on #82
This was closed with #85

[2021-10-04 09:40] utterances-bot opened #86 "Community comments: DMQC section"
# 7. Delayed Mode Quality Control — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_dmqc.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_dmqc.html)

[2021-10-04 09:40] soerenthomsen commented on #86
Citations have to be linked properly to this section too.

[2021-10-04 09:49] soerenthomsen commented on #72
Referencing now works. https://jupyterbook.org/tutorials/references.html#tutorials-references

Still one problem. The title in the references list at the end does not correspond to the author-year format as prescribed in the config.yml file.

<img width="831" alt="Screen Shot 2021-10-04 at 11 46 46" src="https://user-images.githubusercontent.com/32633545/135830325-d796c6b5-d102-4d64-9444-4a615660b

[2021-10-04 11:21] soerenthomsen opened #87 "add Possenti et al., 2020 citation to DMQC"
Just keep track of this here.

[2021-10-04 11:25] soerenthomsen commented on #87
@bastienqueste is it this you refer to? https://os.copernicus.org/preprints/os-2020-72/os-2020-72.pdf
Possenti et al. 2021?

[2021-10-04 11:26] soerenthomsen commented on #31
I close this for now.

[2021-10-04 11:26] #31 closed

[2021-10-04 13:01] #71 closed

[2021-10-04 13:02] soerenthomsen commented on #86
Done! Thanks

[2021-10-04 13:03] soerenthomsen commented on #73
I references the figures now with {numref}`XXXX`

[2021-10-04 13:03] #73 closed

[2021-10-04 13:10] utterances-bot opened #88 "Oxygen_SOP/sections/oxygen_references"
# 10. References — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_references.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_references.html)

[2021-10-04 13:10] jbusecke commented on #88
Is this the desired formatting? Or should we see how to change it to a full name like `[Lastname et al. 2020]`?

[2021-10-04 13:12] jbusecke commented on #73
I took a quick look and they seem to be all there!

@soerenthomsen are you writing on a guide how to reference papers, do captions in figures etc? I think it would be nice to have a very brief part of the README that explains this?

[2021-10-04 13:13] jbusecke commented on #88
Side note: Super nice to see how the comments on the site with utterances work

[2021-10-04 13:18] jbusecke commented on #82
Quick tip: If you write a comment in the Pull Request like `Closing #number_of_issue` it will close them automatically when merged.

[2021-10-04 13:20] jbusecke commented on #35
I think we could still provide a pre-made PDF in the repo as well, if that is desired?

[2021-10-04 13:47] tomhull commented on #35
I think it's we probably only need one when we do a release.

On Mon, 4 Oct 2021 at 14:20, Julius Busecke ***@***.***>
wrote:

[2021-10-04 17:32] patricialg commented on #76
I checked Langdon 2010, this is what it's in the doc: _This procedure is suitable for the measurement of the full range of oceanic oxygen concentrations (0-400 μmol kg-1) in uncontaminated seawater. The typical precision that can be achieved using automated amperometric endpoint detection systems is ±0.15 μmol kg-1.  This procedure is unsuitable for seawater containing hydrogen sulfide (H2S). In o

[2021-10-05 07:35] soerenthomsen commented on #73
hi @jbusecke thanks.

I think for now I will mainly write a simple guide how to make general comments i.e. via Jupyter book. During the community review the lead authors will take care of implementing the suggestions to keep things more organised.

[2021-10-05 07:44] soerenthomsen commented on #88
I managed to cite full name like `[Lastname et al. 2020]` in the text but in the references at the end there is still this other format. would be great to have the same.

[2021-10-05 07:51] soerenthomsen commented on #81
I removed oxygen.md

[2021-10-05 07:51] #81 closed

[2021-10-05 07:54] soerenthomsen commented on #42
The pull-request  #90 by @patricialg updated a few names

[2021-10-05 07:59] soerenthomsen commented on #76
Thanks @patricialg for checking the details. Indeed the detection limit is not the relevant parameter here. Would you like to draft an update and make a pull-request and link it via #XX here in the issue?

[2021-10-05 08:27] utterances-bot opened #91 "Oxygen_SOP/sections/authors_SOP_development_process"
# 1. Authors and development process — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/authors_SOP_development_process.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/authors_SOP_development_process.html)

[2021-10-05 08:27] soerenthomsen commented on #91
Test

[2021-10-05 08:31] utterances-bot opened #92 "Oxygen_SOP/sections/oxygen_pre_deployment"
# 3. Pre-deployment operations and calibrations — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_pre_deployment.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_pre_deployment.html)

[2021-10-05 08:31] soerenthomsen commented on #92
Test comment: For me it is not clear how long I have to put the optodes into the 100 or 0 baths.

[2021-10-05 08:41] #91 closed

[2021-10-05 10:04] patricialg commented on #42
To avoid using Aanderaa photo of 3 oxygen sensors, I have another photo of all Aanderaa sensors and with red arrows  to point the oxygen sensors (see image attached). Do you think this one will be better? Do you prefer without the arrows?
I have another option too, asking MARS at NOC to let me some optodes and make a similar photo to the Aanderaa web page photo. Please, let me know and I'll update

[2021-10-05 10:43] soerenthomsen commented on #87
I will close this for now as it looks like the right citation.

[2021-10-05 10:43] #87 closed

[2021-10-05 10:45] soerenthomsen commented on #42
@patricialg I like this image with the red errors. You can cut out the lower 1/3 of the image I guess.

[2021-10-05 11:04] soerenthomsen commented on #35
I agree. A pdf after a major release, i.e. after the community review makes sense but not required each time.

[2021-10-05 12:17] soerenthomsen opened #93 "Review updated contributors guidelines"
Hi everyone, I updated the "contributors guidelines" now building on the new online document, which I think should be the normal way for people to contribute during the review.

Those familiar with GitHub can always directly work in the repo.

@patricialg @tomhull @jbusecke can one of you review?

[2021-10-05 12:20] #77 closed

[2021-10-05 12:20] soerenthomsen opened #94 "Numeration at the end of 4.5.1.3. Calibration procedure is not working properly. should go from 1. to 12. but now does 3 times 1. to 4."

[2021-10-05 12:46] soerenthomsen commented on #86
Test

[2021-10-05 12:49] #82 closed

[2021-10-05 15:58] patricialg opened #95 "Information requiered for Section 2.4 Clark electrode polarographic sensor (SBE43)"
I'll look for some basic information contained in sensor manuals (about the sensor, how it works and recomended calibrations). I'll add it to the section so at least we don't have an empty one, but we will need to find experts in case there are some modifications to the manufacturer protocols that will improve the sensor performance.
I'll try to find info for the SBE 43/43F and 63 since in Table 1

[2021-10-05 17:51] soerenthomsen commented on #80
@tomhull please have a look here http://content.aodn.org.au/Documents/IMOS/Facilities/Ocean_glider/Delayed_Mode_QAQC_Best_Practice_Manual_OceanGliders_LATEST.pdf section 3.2.2.2 Time lag correction

As I understand the correction is done in phase.

`Time taken for the Optode sensor to respond while taking measurements results in a time lag that must be corrected. The lag is relatively long (of the

[2021-10-07 10:46] soerenthomsen opened #98 "effect of thermistor next to the foil (blue 4330 and 4831 sensors)"
We write in section 2.1.1. Hardware design: blue or black¶:

`The blue 4330 and 4831 sensors move the thermistor next to the sensing foil which results in much improved performance of the temperature sensor.`

@nizaroka raises the point that: "Do we know how much this performance improved as it is important for the quality of data?"

@tomhull maybe something we can highlight in the DMQC part at so

[2021-10-08 08:14] utterances-bot opened #102 "Oxygen_SOP/sections/oxygen_rtqc"
# 5. Real Time Data Processing & Quality Control — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_rtqc.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_rtqc.html)

[2021-10-08 08:20] soerenthomsen commented on #102
thank you very much @catsch and @vracape. Glad also to see that the commenting function works! Thx to @jbusecke effort! We will implement this quickly.

[2021-10-08 10:39] cgourcuf commented on #102
An additional comment regarding time response where it could be worth refering to section 7 (DMQC). My suggestion for last paragraph:
"For some optode models with large time response (e.g. 3835), it may be appropriate to apply a first time lag correction in RT, taking into account the sensor time response, using either the manufacturer value or any value defined from previous deployments with the

[2021-10-08 12:40] #62 closed, assigned to vracape

[2021-10-08 12:41] soerenthomsen commented on #102
Thanks for this great team work! I will close this issue now.

[2021-10-08 12:43] #38 closed

[2021-10-08 12:47] utterances-bot opened #104 "Oxygen_SOP/sections/oxygen_introduction"
# 2. Introduction — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_introduction.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_introduction.html)

[2021-10-08 12:59] soerenthomsen commented on #104
Good point. We have one open issue related to the accuracy of the multipoint calibration #48 (a key issue!)

In my view it is key to clearly distinguish between manufacture values and experiences from real users.

We mention and cite some real examples of drift in the dmqc section.
@tomhull maybe some of them we can cite here to when appropriate?

[2021-10-08 13:02] soerenthomsen commented on #88
@jbusecke did you find how we can also align the format in the referencing list?

[2021-10-08 13:31] utterances-bot opened #107 "Oxygen_SOP/sections/oxygen_mission_execution"
# 4. Missions execution — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_mission_execution.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_mission_execution.html)

[2021-10-08 13:43] utterances-bot opened #108 "Oxygen_SOP/sections/oxygen_post_recovery"
# 6. Post-recovery operations and calibrations — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_post_recovery.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_post_recovery.html)

[2021-10-08 13:56] utterances-bot opened #109 "Oxygen_SOP/sections/oxygen_dmqc"
# 7. Delayed Mode Quality Control — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_dmqc.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_dmqc.html)

[2021-10-08 13:56] ptestor commented on #109
- section 7.1 is very short!
- This is a bit frustrating to read "We suggest users try each of these procedures and assess how well they work for their own use case."... Could there be a way to assess the differences in the methods?

[2021-10-08 14:38] #86 closed

[2021-10-08 15:03] vracape commented on #102
Figure 5.1 : On the left, an oxygen sensor for which we have an inconsistency between the glider base station configuration and the set of coefficient calibration sent to DAC. Perhaps keep only 5.1 left and better detailed the legend.

[2021-10-09 18:53] hahn-johannes commented on #107
**Answers to Pierre's remarks:**
section 4.2: I have not that much experience in that, but I think: If the horizontal extent of several adjacent glider profiles covers the distance of these glider profiles to a reference profile (e.g. CTD profile), one could use the glider profiles to estimate the variability and the associated uncertainty for the calibration.

section 4.4: I have uploaded some fi

[2021-10-09 18:56] hahn-johannes commented on #107
@soerenthomsen Does this help?

[2021-10-11 07:22] #98 closed

[2021-10-11 07:56] soerenthomsen opened #112 "add citations/literature to numbers of accuracy/drift in introduction"
@ptestor commented:

"Concerning the whole section 2 (Introduction), I have the feeling that we would need more references (even grey literature) when numbers are provided, about accuracy/drift for instance."

[2021-10-11 07:57] soerenthomsen commented on #112
Good point. We have one open issue related to the accuracy of the multipoint calibration #48 (a key issue!)

In my view it is key to clearly distinguish between manufacture values and experiences from real users.

We mention and cite some real examples of drift in the dmqc section.

@tomhull maybe some of them we can cite here to when appropriate?

[2021-10-11 08:00] soerenthomsen opened #113 "Biofouling assessment images into metadata?"
@ptestor raised this point:

section 3.3.2: How do we manage the photo metadata? I think it is a good idea. We could include a post-recovery biofouling metadata scored from 1 to 5 for example if we provide examples. But then how would this value be used? We should develop on this.

Again how do we manage picture metadata globally? Could it be included in OceanGliders v1.0 format?

[2021-10-11 08:39] soerenthomsen opened #114 "Why 2 min stops during CTD cast"
@ptestor
section 4.4: it would be great to illustrate with a timeseries why we need to wait 2 min before firing the bottles

[2021-10-11 08:41] soerenthomsen commented on #114
@hahn-johannes:

"section 4.4: I have uploaded some figures, that show an example oxygen time series for an in situ calibration of an optode at a CTD rosette. In the legend, "deconv." means, that an inverse low pass filter was applied to the optode oxygen time series in order the correct for the response time effect. Please let me know, if these figures are reasonable."

[2021-10-11 08:43] soerenthomsen opened #115 "Why do we suggest 5s samping period?"
@ptestor raised this point:
"section 4.6.1: we should better document why 5 s is the recommendation... Why not 8 s? or better 2 s? what are the consequences?"

[2021-10-11 08:44] soerenthomsen commented on #115
@hahn-johannes answered:

"section 4.6.1: In general, there are several parameters, that have an impact on a feasible sampling interval and therefore on the error of the reconstructed true oxygen profile. Here, we could refer to Bittig et al. (2014): "Time response of oxygen optodes on profiling platforms and its dependence on flow speed and temperature". The impacting parameters are: response tim

[2021-10-11 08:54] soerenthomsen opened #116 "section 4.2 assess variability with glider measurements, reference samples,"
Pierre writes:
"section 4.2: could the variability not be assessed by the glider measurements?"

@soerenthomsen adds. In my view this raises also another questions to order this section. References in-situ samples are for example no calibration but are mentioned first i.e. before 4.4. which happens when the optodes are still on board and the procedure there is a real calibration.

This also relate

[2021-10-11 09:27] soerenthomsen opened #117 "short summary to section 3 including what are key actions and why"
@ptestor raises the point that we need to a short summary for pre-deployment calibration actions etc.

I agree and I think this summary/introduction should also include what kind of actions will result in what kind of accuracies. i.e. not everything needs to be done. and so far this does not really becomes clear enough

[2021-10-11 11:34] ptestor commented on #114
Yes they are great but we might not need the three of them in the paper. And why do you low pass the data (by the way the legend seems wrong with low pass "deconv" data in grey not black).  It looks like the 2mn delay come from this low pass filtering. Comparing blue and black curves, they both adjust to the plateau values in less than 1 minute, don't they ?

[2021-10-11 11:47] soerenthomsen commented on #114
Thanks @ptestor for continuing the discussion here. Like this all is a bit more organised. I tried to sort your comments into issues in case I did not solve them directly (formulations etc).

I will keep this discussion a bit open before writing a suggestion. Agree with Pierre that we maybe only need two of the figures. One showing the full cast and the 2nd with a zoom into one stop.

[2021-10-11 13:55] soerenthomsen commented on #50
What does GG stands for?

[2021-10-11 14:47] soerenthomsen commented on #24
Do you have images from the glider themselves who had these issues after recovery?

[2021-10-11 14:53] gkrahmann commented on #24
you can do it, I have not prepared anything
for photos I have to look. Mario was alone on Polarstern recovering four of them in one day.
I do not recall that he made photos. Maybe the barnacle. The green slime is probably difficult to
take a picture of.

[2021-10-11 16:10] gkrahmann commented on #24
![IMG_0095](https://user-images.githubusercontent.com/68220892/136821928-6cc0983c-98cd-40c6-89ba-1ba2cce57bd6.JPG)
![IMG_0148](https://user-images.githubusercontent.com/68220892/136821957-556698cf-4c7e-409a-8317-922e837a9b25.JPG)

here are the pictures

You can include them and I will later do some fine-editing of the text. Ok ?

[2021-10-11 19:55] patricialg commented on #42
Image is now in the folder. I´ll add it next to the Introduction section

[2021-10-12 07:51] gkrahmann commented on #116
If you adjust the glider values to better match the CTD values it IS a calibration, albeit a not very accurate one...
Maybe call it in-situ or field calibration to distinguish it from a lab calibration.

[2021-10-12 09:21] soerenthomsen commented on #114
When finalising this section we should also reformulate this sentence: `since the difference between the
downcast and upcast oxygen profiles is relatively small (1 uM approx., [Uchida et al., 2008]).`
I strongly disagree with Uchida as this depends on the vertical oxygen gradient, speed etc.

[2021-10-12 09:26] soerenthomsen opened #131 "How to report oxygen"
I think we have to be very clear how oxygen measurements have to be reported, namely $\mu$mol/kg
and state it somewhere at the beginning citing the corresponding papers/SCOR reports by Bittig et al.

And we have to ensure that this unit is used throughout the whole document too.

Any comments?

[2021-10-18 08:34] soerenthomsen commented on #131
I think this should be clarified as early as possible i.e. in the introduction before any unit's are actually used or? But just then also just very short and refer to Bittig2018.

@tomhull what do you think?

[2021-10-18 19:32] s-pearce commented on #107
In section 4.4, there is a note to always record `DPhase`, which is *calphase*.  In the previous introduction section though it is referred to as calphase and `P_c`.  As best I can tell, the reference to the note about `DPhase` is referring to Argo processing terminology specifically for calphase from a 3830 Aanderaa optode.  Although I think term `DPhase` is relatively well known, it would be goo

[2021-10-18 22:02] tomhull opened #142 "Formatting units - unicode or latex"
### Discussed in https://github.com/OceanGlidersCommunity/Oxygen_SOP/discussions/136

<div type='discussions-op-text'>

<sup>Originally posted by **tomhull** October 16, 2021</sup>
We need to be consistent how we are going to render units.

Two options:

Latex math which gets converted to images in the final text, done like so
[code]
easy to type, but doesn't look as good in the text and can't be

[2021-10-19 07:22] soerenthomsen opened #143 "harmozining use of Dphase or Calphase"
@s-pearce raised this important point:

"In section 4.4, there is a note to always record DPhase, which is calphase. In the previous introduction section though it is referred to as calphase and P_c. As best I can tell, the reference to the note about DPhase is referring to Argo processing terminology specifically for calphase from a 3830 Aanderaa optode. Although I think term DPhase is relatively

[2021-10-19 08:03] soerenthomsen opened #144 "correct/better organising of optode commands, firmware versions"
@s-pearce

"In section 3.4.1.2 # 3 it says to "Do Stop" is the command to stop the Aanderaa 4831/4330 from sampling and to use "CR + LF" in the terminal. This is a bit of a mixed message. In optode firmware versions smaller than 3.x.x (Framework 3), it did not require the "CR + LF", only the "CR" and the command to stop was "Do Stop". In 3.x.x and higher (as of 2021, in 5.x.x framework), the optod

[2021-10-19 08:06] soerenthomsen commented on #144
Thanks @s-pearce for raising this good point. We already discussed how we could better organise all these commands, firmware issue. As you state correctly the commands are changing with firmware versions and we also don't want to repeat all the commands here.

In my view the best would be to have a short summary and even mention key commands, i.e. of the latest version but more importantly add lin

[2021-10-19 08:11] soerenthomsen opened #145 "which firmware allowed first SVU/Multipoint-calibration"
@s-pearce

"Also, I believe it was framework 3 that first allowed the SVU/Multipoint-calibration, and firmware less than 3.x.x only used the Mk2 equation."

[2021-10-19 13:06] richardsc opened #146 "Cleaning/flushing/storage procedures for SBE43 DO sensor"
From a discussion with @soerenthomsen and Evi Bourma (@evibourma) there should be some clarity added about how to flush, clean, and store the SBE43 DO sensor on gliders. I *think* that this only applies to SeaExplorer gliders, as the DO sensor is not available as a dry-payload option (e.g. slocum and seaglider ... not sure about spray).

From Evi:

From me:

As a general note I have been recommend

[2021-10-27 09:18] soerenthomsen opened #152 "Add links to Sensor Model descriptions of SeaVox"
While reviewing the OG1 - Vocabulary Collection I found this nice collection of specific sensors descriptions. I suggest make links to this official collection.
https://www.bodc.ac.uk/resources/vocabularies/seavox/

[2021-11-02 10:50] soerenthomsen commented on #42
@tomhull is [this](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/images/slocum.jpg) image from you? if not do you have a similar one with copy right? After that we could close this issue!

[2021-11-02 17:23] soerenthomsen opened #155 "Restructure: Make chapter "Sensor and Integration""
While uploading the Salinity SOP (online soon), @isgiddy and myself (@soerenthomsen) realized a slightly different structure at the beginning.
- Introduction
- Sensors and Integration
- Pre-deployment ...

At the moment we have sensors in the introduction and integration in pre-deployment etc.

I think it would make sense to make a chapter "Sensor and Integration" just after the introduction.

[2021-11-02 17:38] patricialg commented on #155
Agree with your suggestion :)

[2021-11-02 18:17] soerenthomsen commented on #155
Ok as soon as I am done with this part of the salinity SOP I will start to restructure here too.

[2021-11-02 18:42] patricialg commented on #155
I can do it while you are working on the Sal SOP, I assume it's nothing more than chaging headings? The main information should stay the same. Let me know ;)

[2021-11-02 19:02] soerenthomsen commented on #155
No we have to create first a new section files called "oxygen_sensors_integration.md" and copy over the content. After we also have to change the Table of Content here:
https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/_toc.yml

But sure please go ahead via pull-request so i can review :)

[2021-11-03 13:37] isgiddy commented on #142
Ive had a little bit of a look at what is best for markdown, and I think unicode is the way forward as well.
Here is an explanation of github flavoured markdown for reference:  https://github.github.com/gfm/

[2021-11-03 15:46] soerenthomsen commented on #155
Working on it now

[2021-11-03 16:11] soerenthomsen commented on #155
@patricialg could you check directly on the jupyter book whether all migration worked fine?

[2021-11-03 16:20] patricialg commented on #155
Perfect! Thanks :)

[2021-11-03 16:20] #155 closed

[2021-11-04 11:07] soerenthomsen commented on #142
Ok! So this is also good for jupyter books I assume?

[2021-11-04 15:57] soerenthomsen commented on #88
We have the same issue in the Salinity SOP so if we solve it we have to coordinate with @isgiddy

[2021-11-08 12:23] tomhull commented on #131
I agree with Henry that umol kg-1 is best for reporting final values, it also indicates at a glance that a salinity and pressure correction has been applied.
However, I think users of the SOP need to be familiar with converting between umol L-1 and kg-1 as well. As most if not all of the oxygen sensors report this unit.

[2021-11-12 10:41] isgiddy commented on #92
In section  4.5.1, on doing the experiments at two different temperatures I have a few points that I would like clarification.
1. If the temperature range of planned measurements is small, (5 degrees celcius), is it still recommended to run at two temperatures?
2. For very low expected temperatures (-1.5-2), do we need to run this in a freezer room, or would it be acceptable to calibrate at higher

[2021-11-12 21:13] s-pearce commented on #145
@tomhull Although the serial numbers > #1000 bit is written in the manuals, that is only true for the 4330 form factor of the optode.  The 4831 form factor (same internal parts) has most serial numbers less than 1000 but are firmware versions higher than 4.4.8.  The 4831 SVU optodes I have range from serial numbers 100 to 800 and the newest were purchased just this year.  So I might leave that bit

[2021-11-15 11:43] isgiddy opened #157 "Optode calibration - how many points?"
Section 4.5.1 recommends calibration at 2-point calibration of temperatures in the range of expected measurements. If the temperature range of planned measurements is small, (5 degrees celcius), is it still recommended to run at two temperatures?

Is it recommended to increase the number of temperature points if possible?

@patricialg @tomhull @hahn-johannes

[2021-11-15 11:45] isgiddy opened #158 "Calibrations at very low temperatures"
For very low expected temperatures (-1.5-2), do we need to run this in a freezer room, or would it be acceptable to calibrate at higher temperatures? The SOP only recommend using an AC to change the temperature for example. What about sub-zero temperatures?

@patricialg @tomhull @hahn-johannes

[2021-11-15 11:49] isgiddy opened #159 "Time-constraints during calibration"
For each temperature run should we leave all materials, reagents and sensors in the lab/workshop/room overnight (or as recommended for 8 hours).

When time is limited, is it ok to begin calibration when the sensor equilibrates (if this occurs in a time period shorter than 8 hours)?

@patricialg @tomhull @hahn-johannes

[2021-11-15 16:57] patricialg commented on #158
Hi Isabelle,
Good question! I haven't worked in such low temperatures but, for other experiments, I normally use a thermostatic bath which can keep the sample at those low temp. The only problem I see here is that you normally do this 2-points calibration with distilled water and it will freeze below 0C, not like SW, but then if you use SW you will need to set up the sensor to the salinity of your

[2021-11-16 10:45] soerenthomsen commented on #158
I am not an expert but have carried out the two point 0/100% calibration many times before and after deployments.

Knowing that your calibration has to occur in the next days, I suggest to definitly try to get one pair (0/100) at normal room temperature and two more pairs (0/100) at very low temperature (i.e. something near 2 degrees) close to your range but above 0 with zero salinity to be able t

[2021-11-17 09:35] soerenthomsen commented on #142
Also vote for unicode!

[2021-11-17 14:57] soerenthomsen commented on #52
Would be great to add:
- [ ] short text on available sensors for Deep Gliders
- [ ] image of integration

[2021-11-18 15:32] soerenthomsen opened #160 "Towards convergence DMQC time response"
At the moment we show 4 different implementations of the time response correction in the DMQC section.
How could we make progress in converging? This might be an issue when publishing the SOP.

[2021-11-18 17:28] soerenthomsen opened #161 "Overview cheat sheet"
@pipa85 suggested to have a simple overview graph to understand key steps in 10 min.

I agree with her that this would be great to have. @patricialg we started with that once at the beginning and postponed due to too many changes. But I think we should include this before submission or?

[2021-11-18 17:30] patricialg commented on #161
Yes, I still have it ;) but unfinished. I'll try create a draft so we can comment and find the best option for the diagram.

[2021-11-18 17:32] soerenthomsen commented on #161
Great!

[2021-11-18 17:39] patricialg commented on #161
![Picture1](https://user-images.githubusercontent.com/13015381/142466828-bafbe37d-20af-4510-8d0e-f7c0519b6574.png)
This is what we started a few months ago, where processes are calssified as:
_!!! Must have
!! Should have
! Desirable_
 I will need to check for updates.
Is this a good design? Or we prefer a cascade?

[2021-11-18 17:46] pipa85 commented on #161
This looks good. although a simple 'shopping' list would also work. it would also allow to have a sentence or so below with details if needed.  I would mention if you don't have an oxygen sensor on the rosette, but can collect samples for Winkler titrations, that should be done!

[2021-11-18 19:42] soerenthomsen commented on #161
Agree Winkler Samples if attached to CTD should be added!

[2021-11-19 11:21] soerenthomsen commented on #142
I will implement unicode it through the document.

[2021-11-19 11:57] soerenthomsen commented on #160
https://www.oceanbestpractices.org writes "A best practice is a methodology that has repeatedly produced superior results relative to other methodologies with the same objective; to be fully elevated to a best practice, a promising method will have been adopted and employed by multiple organizations."

I would like to discuss how we could get here. i.e. with test datasets and run the code through

[2021-11-19 12:49] soerenthomsen commented on #131
How could we organise this without repeating all the work Henry did already in the publications for the Argo community?

[2021-11-19 13:48] soerenthomsen commented on #131
While doing this we could maybe also write a simple conversion tool for GliderTools?

[2021-11-19 15:39] soerenthomsen commented on #161
@hahn-johannes what is your view on this? What are "key" steps to be taken?

[2021-11-19 16:50] tomhull commented on #161
For me a glider oxygen shopping list would look like:

1. mount the sensors as best you can, buy ones which are better for gliders (imo that means, RBR / RINKO)
2. make sure your glider is configured to record phase with correct timings
3. two point calibrate sensor just prior to use
4. have some form of in-situ reference. we have a hierarchy of decreasing quality, e.g.
    - BEST: multiple co-loc

[2021-11-19 16:58] tomhull commented on #159
There are two things here.
The general idea is that if your instrument and gear is warming/cooling rapidly it's difficult to get a good calibration. I've found though that unless you're in a temperature controlled room (not a bad idea) you're going to get temperature fluctuations during the day, I would say that if the sensor (both oxygen and temperature) is stable over 10 minutes it would be fine

[2021-11-19 17:01] tomhull commented on #145
@s-pearce that's a very good point! I'll amend the text.

[2021-11-19 17:41] tomhull commented on #158
Echoing Patry and Soeren, my knowledge of low temperature work is zero so I can't help here.

[2021-11-22 12:31] #145 closed

[2021-11-22 12:45] soerenthomsen commented on #161
I add to "Best" that optode is attached to calibrated CTD and see the co-located CTD casts more as a "check"

[2021-11-26 19:16] utterances-bot opened #173 "Oxygen_SOP/sections/acknowledgement"
# 11. Acknowledgement — Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/sections/acknowledgement.html](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/acknowledgement.html)

[2021-11-26 19:16] paulineobps commented on #173
1. Can you add  at the end a document data (metadata) sheet.  Need only display the fields in which you have entered data  (full range is included in OBPS Document template).  This would include version history.
2.  Are you going to add a CC License for reuse permission or  does 'By The Jupyter Book community © Copyright 2021.' mean they own copyright and all rights are reserved?

[2021-11-27 11:08] soerenthomsen opened #174 "Mention Licenses in Jupyter Book deployment"
As pointed out by @paulineobps so far the licence is not clear when just looking at the Jupyter Book and it suggests that the The Jupyter Book community owns the copy right.
`By The Jupyter Book community
© Copyright 2021.`

We have to check with the jupyter book whether they own any copyright over the content of the deployment. If that is the case we have a problem.

This issue is relevant for ea

[2021-11-29 11:04] soerenthomsen opened #176 "add all ORCID's behind authors"
This will be needed to fill the OBPS metadata sheet.

[2021-11-29 14:47] jbusecke commented on #174
Interesting point. [Here] is some internal discussion about this topic, but I agree this is not entirely clear. We should probably track down the actual type of license that the jupyter project uses and then see if/how we can explicitly modify it for this project?
It is also not at all clear if the copyright applies to the framework of jupyter book only or the content aswell.

[2021-11-29 22:10] patricialg commented on #176
Hi all,

Please, would you be able to let us know if this is the right ORCID ID for your profile?If not, could you provide the right link? :)
@cgourcuf  0000-0001-6071-8389
@ealou  0000-0003-2247-3629
@nizaroka 0000-0002-6235-6198
@ptestor 0000-0002-8038-9479
@evibourma 0000-0001-7196-9714
@richardsc 0000-0002-7833-206X
@s-pearce 0000-0002-7482-0752

I haven't been able to find the ORCID ID for:
@

[2021-11-30 08:42] nizaroka commented on #176
Thank you @patricialg for checking. My ORCID ID is correct :)

[2021-11-30 09:33] ealou commented on #176
Dear Patricia,

Yes, @patricialg <https://github.com/patricialg> thanks for checking, mine
is correct too.

For John Allen: https://orcid.org/0000-0001-7357-6623 (added in cc this
email)

Best,

Eva

El mar, 30 nov 2021 a las 9:42, Nikolaos Zarokanellos (<
***@***.***>) escribió:

--

Eva Alou-Font

Coastal R/V Facility, Biogeochemistry

ParcBit, Edif. Naorte, Bloc A, planta 2, pta. 3
07121 Palma

[2021-11-30 13:39] soerenthomsen commented on #142
We decided for unicode also in the salinity and nitrate SOP so we can close this here.

[2021-11-30 13:39] #142 closed

[2021-11-30 13:57] patricialg commented on #176
Thnaks @ealou and @nizaroka  :)

[2021-11-30 17:48] patricialg commented on #173
Thanks @paulineobps! We are preparing the document to add it at the end of the SOP for the submission :)

[2021-11-30 21:06] soerenthomsen commented on #159
Agree with what Tom is writing. Hope the pre deployment calibration went well.

[2021-11-30 22:45] s-pearce commented on #176
Hi @patricialg I didn't have one, but just created one.  Must have been someone else.  Here is mine:
0000-0001-8373-7152

[2021-12-01 08:55] patricialg commented on #176
Thanks @s-pearce :)

[2021-12-01 09:29] soerenthomsen commented on #174
Thanks @jbusecke for supporting this. There is nothing linked in your comment.

[2021-12-01 10:28] soerenthomsen commented on #157
I think this relates to the major issues #48

In short the more the better and i my view are at least two different temperatures at 0/100 required. In your case i suggest to try to do even two low temperatures and a normal room temperature one

[2021-12-01 11:10] soerenthomsen commented on #131
Input by John Allen, SOCIB, Spain

`It has come to my attention that the issue of how oxygen concentration should be reported has been raised yet again.

Let me be very clear and please ask for my opinion to at least be placed on record, i really want to avoid problems with archived datasets that might be very hard to overcome.

Firstly let us separate two things

1) The presentation of oxygen con

[2021-12-01 11:47] soerenthomsen commented on #131
@gkrahmann how are you handling this at GEOMAR?

[2021-12-01 13:30] gkrahmann commented on #131
GEOMAR's practice is to store oxygen as umol/kg in the final archived product. This final product always includes the CTD data, so that oxygen can be reverted back to umol/l , which is the output unit of the software developed by Johannes Hahn and Henry Bittig. It is also probably the unit of what an optode actually 'sees' and what its calibration coefficients are derived for.
In our case the inte

[2021-12-01 14:09] cgourcuf commented on #131
I agree with Gert and I think this is also the way Coriolis computes and stores oxygen data both for gliders & Argo. @catsch & @vracape can you confirm? I used to think the same way as John, until I realised that oxygen in umol/l depends on Salinity anyway (salinity compensation).

[2021-12-01 14:09] isgiddy commented on #174
Just had a look into this a little.

Jupyter Book is licensed under a BSD 3-Clause. See the link [here](https://github.com/executablebooks/jupyter-book/blob/master/LICENSE).

The license footer can be edited in the default_config.yml file. (see [link](https://github.com/executablebooks/jupyter-book/blob/master/jupyter_book/default_config.yml)). Here the author and copyright can be edited.

I had a

[2021-12-01 14:16] catsch commented on #131
@cgourcuf, I confirm that in Argo the final product is umol/kg

[2021-12-01 14:38] tomhull commented on #131
Just for reference, the UEA toolbox converts to umol/kg about half-way through the processing steps, after salinity compensation. So the calibration against winklers is done in umol/kg.

Internally my own tools operate the same as Gert, using mmol m-3 and converting to umol/kg when archiving. For air-sea gas exchange stuff mmol m-3 is convenient.

To comment John Allen's note (and as noted by @cgo

[2021-12-01 14:52] tomhull commented on #143
Yes so this is a change in terminology used by Aanderaa between optode version.
For the 383x, `DPhase` = calibrated phase
for the 4330 and onward `Calphase` = calibrated phase and `TCPhase` is temperature compensated phase.
For most optodes `TCPhase` is the same as `CalPhase` because the coefficients are set to 0 and 1. But I'm told there are some out there.

I think for the SOP, we should use the

[2021-12-02 09:12] soerenthomsen commented on #174
Thank you @isgiddy for checking this! Indeed this is very helpful. Also the example is very helpful.

@jbusecke what do you think?

[2021-12-03 16:07] jbusecke commented on #174
Sorry this is the link I meant to send: https://github.com/executablebooks/jupyter-book/issues/661. I am honestly not an expert on these specific things, and it seems like @isgiddy has now more expertise on this topic 😁

[2021-12-03 16:25] paulineobps commented on #174
Thanks Isabelle

There are choices for licenses https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/licensing-a-repository.

Creative Commons are the most well-known licenses and the Creative Commons-Attribution-ShareAlike (CC-BY-SA 4.0 ) is the one to use if you are going to permit access and use by Commercial interests.

BSD 3-Claus

[2021-12-06 13:51] patricialg commented on #161
OK, so following what we have in the SOP now and your comments, we can have something like this? (we will need to improve it once we decide the final version, and I'll try to add it to a diagram that looks better ;) )

**Pre-deployment**
1.	Check that the sensors are in good condition.
2.	Do two-point calibration. Ideallly, test more than one sensor.
3.	Mount the sensors as best you can, buy ones

[2021-12-13 07:41] soerenthomsen commented on #174
From Pauline just post it here to ensure everyone reads it:

"Dear Soeren

We discussed the SOP at our OBPS SG last week.   It will be a first, but the OBPS software can ingest Jupyter Notebook files.   In the metadata we will link to the GitHub repo.

I think from the previous emails the licenses are now agreed?

Pauline
Pauline SIMPSON
Ocean Best Practices System Project Manager
https://www.ocea

[2021-12-14 10:57] soerenthomsen commented on #174
Great to hear @paulineobps that you discussed this SOP and our process at the OBPS SG and even nicer to hear that the OBPS software can ingest Jupyter Notebook files.
Indeed linking the GitHub repo is key so that people always find the up to date version. This might also help to get more and new users who engage with the SOP after downloading it.

Best wishes
Soeren

[2021-12-19 15:22] tomhull commented on #144
I'm writing a section which summaries the commands and steps needed to calibrate each optode.
I'll run the procedure and double check as I think I have at least one now of every type of optode/firmware apart from the 5xxx series, I should also be able to add the RBRCoda as well.

- [ ] 3830 and 3835
- [ ] 4xxx pre framework 3
- [ ] 4xxx post framework 3
- [ ] RBRCoda

[2021-12-19 15:32] soerenthomsen commented on #144
Thanks a lot Tom.

[2021-12-19 22:38] tomhull commented on #95
Section, 3.1.4. Clark electrode polarographic sensors is wrong, the SBE 63 is **not** a polarographic sensor, it's optical and much more like an optode, it should have it's own section (assuming anyone is using these on gliders).
If they're not used on gliders I suggest we don't include them.

[2021-12-20 10:41] soerenthomsen commented on #95
Thanks a lot @tomhull for clarifying this. I think @evibourma uses this sensor or?

[2021-12-20 11:50] soerenthomsen commented on #174
@isgiddy could you provide the link to the repo of the jupyter book example you screenshoted above?

[2022-01-17 09:50] #52 closed

[2022-01-17 09:51] soerenthomsen commented on #52
This was only related to deep dives at this moment and is stated in the text already. i.e. that if dives are compared i.e. near the surface the up- and down cast should be compared and at depth the down- and up to reduce time differences. not specific to glider type

[2022-01-24 08:48] soerenthomsen commented on #161
@gkrahmann we plan to close the community review for the oxygen SOP this week to prepare a submission to OBPS. What do you think about the "cheat sheet/list" above?

[2022-01-24 12:01] soerenthomsen commented on #174
This is solved via PR #187 and can be closed. Thanks @isgiddy for supporting this and implementing it directly into the Salinity SOP!

[2022-01-24 12:01] #174 closed

[2022-01-26 18:37] soerenthomsen commented on #143
I think this is done right? @tomhull feel free to close when you agree.

[2022-02-04 14:03] soerenthomsen commented on #158
Hi @isgiddy did you already recover your glider, which you deployed at very low temperatures? Any experience to share?

[2022-02-04 14:05] soerenthomsen commented on #144
Hi @tomhull is this done?

[2022-02-04 14:07] #94 closed

[2022-02-05 18:31] patricialg commented on #95
Hi @tomhull and @soerenthomsen,
I think we should keep the SBE63 since Spray uses it which brings another question, we don't have any inputs from expert at the moment for Spray. We can add information related to this from articles (e.g. Takeshita et al., 2021 https://journals.ametsoc.org/view/journals/atot/38/2/jtech-d-20-0095.1.xml) at least to keep the basic information about the glider. What do

[2022-02-07 10:09] soerenthomsen commented on #63
I added the link to the OG data user manual repository for now in PR #191 and close this issue for now.

[2022-02-07 10:09] #63 closed

[2022-02-07 10:35] soerenthomsen commented on #157
I close this and refer to #48

[2022-02-07 10:35] #157 closed

[2022-02-07 11:03] #159 closed

[2022-02-07 11:06] soerenthomsen commented on #144
I think we still need to remove the old version in the main text before close this or and refer to the new appendices. Right?

[2022-02-07 11:07] soerenthomsen commented on #42
Or @gkrahmann do you have an images similar to this one? https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/images/slocum.jpg
We are not sure about the copyright and would just replace it to be able to close this and submit to the OBPS.

[2022-02-07 11:20] soerenthomsen commented on #117
I think the cheat sheet could to the same job so I will close this and refer to issue #161

[2022-02-07 11:20] #117 closed

[2022-02-07 11:24] soerenthomsen commented on #176
I close this for now as I think we have collected all of those who have an ORCID.

[2022-02-07 11:24] #176 closed

[2022-02-07 11:25] patricialg commented on #176
Agree! Thanks @soerenthomsen

[2022-02-07 12:04] laurcopp commented on #114
The 2 min is usually used for all DO sensors mounted on rosette. This is time necessary to stabilize the gas in the Niskin bottles (used for Winkler sampling) and because the DO sensors have a longer time response than CT sensors.
Now if you want to perform a proper inter-comparison cast with optodes + Winkler, 30 min per depth is necessary in  order to get enough data points for an accurate compa

[2022-02-07 12:05] gkrahmann commented on #42
We can make some, if necessary.
Shall I ask Christian ?

[2022-02-07 12:16] gkrahmann commented on #161
A bit in line with what I suggested a long time ago, I would separate the
'recovery'  into
'recovery'  and  'post-processing'    or 'dmqc' as in the sections.
Then 'post-processing' would include
1. Determine optode lag           <- this one depends on optode type and mounting
2. Correct optode lag

I also would be cautious about the   'imo'  from Tom. Either that is an agreed upon statement,
or l

[2022-02-07 12:59] soerenthomsen commented on #161
Thanks Gerd! I agree with all your points. Also to include the other chapters and have bullit point style key steps to do. Everything together should not be then a page.

Also which sensor to buy I think should be remove here.

[2022-02-07 13:02] soerenthomsen commented on #42
Would be great! Thanks a lot! Tom is on a cruise this week and we aim to close this as far as possible to submit to OBPS.

[2022-02-07 13:21] isgiddy commented on #108
Under sensor storage, it is helpful to clarify a method for keeping the sensor wet, other than just putting the sensor caps on.

[2022-02-07 14:28] soerenthomsen commented on #114
Thanks @laurcopp for this input!

If I understand correctly @hahn-johannes used the 2 min stops to add additional calibration points to the glider/optode calibration. So in your view 2 min is not long enough for this?

From my remembrance we did 4-6 stops with each optode before and after recovery and these were added on top of the manufacturer multi-point calibration. This can be read in Hahn's t

[2022-02-07 15:55] soerenthomsen opened #194 "Prepare zip file with source code + pdf"
@jbusecke can you support this so that we can send this release to the OBPS?

Thanks! Soeren

[2022-02-07 17:07] patricialg commented on #161
Hi all,
Following your recomendations:

**Pre-deployment/Deployment**
1.	Check that the sensors are in good condition and you have selected the best option for the planned mission.
2.	BEST: Do two-point calibration. Ideally, test more than one sensor.
3.	Mount the sensors
4.	OK: In situ intercomparison in the tank during ballasting as in-situ reference.
5.	Configure sensor for deployment. Make sur

[2022-02-08 09:23] soerenthomsen commented on #194
This is closed by #195 thanks Julius!

[2022-02-08 09:23] #194 closed

[2022-02-08 12:28] soerenthomsen commented on #95
@rtodd-WHOI are you interested to also contribute to this Oxygen SOP and could you or someone from your team provide a picture of a Spray SBE63 integration?

[2022-02-09 09:54] soerenthomsen opened #201 "how long sensor wet before deployment (8h or 24 h ...), consistent recommendation"
### Discussed in https://github.com/OceanGlidersCommunity/Oxygen_SOP/discussions/193

<div type='discussions-op-text'>

<sup>Originally posted by **isgiddy** November 15, 2021</sup>
For each temperature run should we leave all materials, reagents and sensors in the lab/workshop/room overnight (or as recommended for 8 hours).

When time is limited, is it ok to begin calibration when the sensor equi

[2022-02-09 09:55] soerenthomsen commented on #201
While preparing the cheat sheet I realised that in section 4.1. Storage and cleaning it is written `The sensor then needs to be placed in water to hydrate at least 24 h prior to starting field measurements again.`

Somewhere else we wrote 8 h.

This is confusing and we need to align. Any citable literature on this? What is the minimum time?

@isgiddy might be interested.

[2022-02-09 10:07] gkrahmann commented on #201
I can't say anything to that. For that I always follow instructions of colleagues...

It is important mostly when you have comparison/calibration CTD casts nearby.
Otherwise you might just have a few hours of degraded oxygen data. For our gliders
we slowly increase the dive depths after deployment so that the first dives are of little scientific use anyway.

Are there numbers for the errors by a d

[2022-02-09 10:38] patricialg commented on #201
For Aanderaa optodes, they recommend :
_NOTE! To obtain the highest accuracy the sensor(s) to be calibrated should be submerged into water at least 24-48 hours prior to the calibration. If a sensor is allowed to dry out this could lead to a bias in the readings of up to 2 %. This effect disappears when the sensor is submerged into the water._
I used to leave them 8h or overnight and it was OK. Any

[2022-02-09 12:04] soerenthomsen commented on #161
I close this discussion for now. My suggestion is to start working on a graphical version after version 1.0 on OBPS i.e. during the preparation for publication for Frontiers.

[2022-02-09 19:26] hahn-johannes commented on #201
I also had in mind, that 24h are recommended for submerging the optodes in water before calibration. However, we often were limited in time on board before the upcoming deployment, which reduced the time for a wet preparation of the optodes to a couple of hours. For different calibration steps (0/100% in cold water --> 0/100% in warm water --> insitu calibration at CTD), we used wet tissues to kee

[2022-02-09 19:49] hahn-johannes commented on #158
_should we use SW and correct salinity? We will need to know the salinity of our sample._:
- We never did this and I have no experience. I expect, when measuring the salinity (e.g. with a Multimeter) with a fair accuracy, this could be an option. Just to give some numbers: if you have e.g. S=35 PSU, T=0°C and you measure salinity with an uncertainty of 1 PSU (you are probably much better), you arr

[2022-02-16 09:50] soerenthomsen commented on #42
This can be closed now

[2022-02-16 09:50] #42 closed

[2022-02-16 09:51] soerenthomsen commented on #152
This might belong to the data management in the end so i will close this here.

[2022-02-16 09:51] #152 closed

[2022-02-16 10:35] soerenthomsen commented on #158
Thanks @hahn-johannes especially the last point is interesting in suggesting to `use seawater to get temperatures lower than 0ºC without freezing`

@isgiddy did you give this a try? Any chance to test this during/after recovery?

Would be great to prepare a small paragraph on very low temperatures during 2022 for version 2.0 i.e. after your @isgiddy glider is recovered from the Southern Ocean afte

[2022-02-23 10:54] tomhull commented on #201
I think 24 hours is plenty and a good recomentation.
The rubber lens cover for the 4330 and 4831 series optodes has room for a small piece of absorbant material which can be used prior to deployment. I'm not sure if that cover fits when mounted to a slocum however @patricialg maybe you can find out?

[2022-02-23 10:56] tomhull commented on #160
Just a bump that I am still working on this, and will be looking for collaborators with other datasets soon.

[2022-02-23 22:57] patricialg commented on #201
OK, I'll ask around MARS at NOC

[2022-02-28 18:13] tomhull opened #212 "English language style"
I think we briefly talked about this at the start but we should be consistent with our language style.
Luckily there are tools for this.

At the moment we have a split between British and British (oxford) spellings. e.g.

 **British**             | **Oxford**              | **Australian**   | **Canadian**     | **American**
-------------------------|-------------------------|------------------|---

[2022-03-01 11:13] soerenthomsen commented on #49
@tomhull I think this is included now in 4.3 or?
https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_pre_deployment.html?highlight=copper

So can we close this or is there any information which has to be added to the text before closing this issue?

[2022-03-01 13:20] soerenthomsen commented on #212
For me also both British or Oxford is fine. Is this also what Frontiers uses? So I let you two decide but will ensure it is the same for the other SOPs after.

[2022-03-01 15:52] soerenthomsen commented on #201
Ok! So should we recommend 24 h following also the manufactures recommendation? Plus referring to the option to keep the optodes wet with some absorbent material in case a bath is not possible.

[2022-03-03 13:31] #112 closed

[2022-03-10 08:17] #143 closed

[2022-03-12 08:28] patricialg commented on #146
Info added to the SOP, please, have a look at it.
I think we can close this issue now?

[2022-03-31 14:04] soerenthomsen commented on #88
Solved by #216 thanks to @jbusecke

[2022-04-04 08:55] soerenthomsen commented on #146
This can be closed now due to PR #215

[2022-04-04 08:55] #146 closed

[2022-04-04 09:11] #144 closed

[2022-04-04 09:37] soerenthomsen commented on #201
@patricialg do you feel this is ready to be implemented?

[2022-04-04 10:06] patricialg commented on #201
Not too much, I have only had a chat with the ALR guys, they used SBE43 and they follow instructions from manufacturer (they keep it with MQ water). I think that 24h would be the best recomendation.

[2022-04-04 11:07] soerenthomsen commented on #201
Agree

[2022-04-13 08:54] soerenthomsen commented on #201
I made a PR #217 to implement this discussion.

[2022-04-13 08:58] #201 closed

[2022-04-14 08:36] soerenthomsen commented on #113
I suggest to keep this issue open until the OceanGliders Data Management Workshop in June 2022 and raise it there.

[2022-05-05 08:25] soerenthomsen commented on #80
@tomhull can we close this issue?

[2022-05-05 13:26] tomhull commented on #80
yes, I think so

On Thu, 5 May 2022 at 09:25, Sören Thomsen ***@***.***> wrote:

[2022-05-05 17:11] #80 closed

[2022-05-12 08:39] soerenthomsen commented on #114
I made a PR #218 and kept the 2 min for now in the text. This time period is based on @hahn-johannes work during his PhD thesis and makes a good compromise between ship time and accuracy.

[2022-05-24 08:49] soerenthomsen commented on #212
Is there any way I can support this? I think it is the last issue we aim to close before submitting to OBPS beside the open PR about the 2 min stop.

[2022-05-24 09:08] tomhull commented on #212
Hi Soren,

Sorry, meant to do it last week, it's near top of my list :D

On Tue, 24 May 2022 at 09:50, Sören Thomsen ***@***.***>
wrote:

[2022-05-24 09:33] soerenthomsen commented on #114
This can be closed now.

[2022-05-24 10:53] tomhull commented on #212
Yep, should have time tomorrow.

On Tue, 24 May 2022 at 10:23, Sören Thomsen ***@***.***>
wrote:

[2022-05-25 10:24] soerenthomsen commented on #212
Great! @jbusecke as soon as this issue is closed we plan to build the pdf for release 1.0.
Do you have capacity to support this process?

The plan is to
1) create the pdf and a zip file of this repo
2) Submit this to the OBPS system and get a doi
3) Make a release here on GitHub and link the doi

Does it make sense?

[2022-05-25 13:59] jbusecke commented on #212
What is the actual timeline?
If you plan to do this manually, I think all you need to do is issue a release on github and it will neatly package all the code into a zip file for you. That way you can always refer to that tag, even when the repo keeps evolving.
How do you plan to generate the pdf? Just use jupyter book? That should be fairly simple.

[2022-05-25 15:35] soerenthomsen commented on #212
Thanks @jbusecke for your quick response. I plan to create the pdf, zip file etc early next week and submit directly to the OBPS system.

I think you created a pdf manually a while ago or? Seemed to work I remember. Yes using Jupyter book I think.

[2022-05-25 16:15] patricialg commented on #104
@soerenthomsen can we close this issue? I can't find any left comment :)

[2022-05-25 16:18] patricialg commented on #49
can we close this issue? @soerenthomsen @tomhull

[2022-05-25 16:35] laurcopp commented on #104
Yes for me

Laurent

Envoyé de mon iPhone

Le 25 mai 2022 à 18:15, Patricia ***@***.***> a écrit :

﻿
@soerenthomsen can we close this issue? I can't find any left comment :)

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were assigned.

[2022-05-25 17:13] soerenthomsen commented on #104
The issues related to the chapters via the [utterances-bot](https://github.com/utterances-bot) need to stay open otherwise new comments will end up in the closed issue part.

[2022-05-27 15:46] jbusecke commented on #212
I think this is what I used: https://jupyterbook.org/en/stable/advanced/pdf.html

[2022-05-30 05:51] soerenthomsen opened #220 "Build pdf, make release 1.0 for OBPS system"
The plan is now
1) Build a pdf locally
2) Make a GitHub release (zip file) of this repo
3) Submit the pdf + zip file to the OBPS system
4) Link the doi provided by OBPS to the GitHub release

Does it make sense?

_Originally posted by @soerenthomsen in https://github.com/OceanGlidersCommunity/Oxygen_SOP/issues/212#issuecomment-1137067184_

[2022-05-30 05:53] soerenthomsen commented on #212
Ok lets fix this maybe together tomorrow @jbusecke. I open a new issue #220
Will read your link before.

[2022-05-30 05:53] #212 closed

[2022-05-31 08:11] soerenthomsen commented on #220
This issue is just to keep track of the whole pdf creation, GitHub release, submission to OBPS process to help the other SOPs to do the same.

[2022-05-31 09:38] soerenthomsen opened #221 "Cleaning up: remove pandoc actions"
Cleaning up the repo a bit before doing the release:

I think we can remove the pandoc html and pdf actions or?

https://github.com/OceanGlidersCommunity/Oxygen_SOP/actions/workflows/github-actions-pandoc-html.yml

https://github.com/OceanGlidersCommunity/Oxygen_SOP/actions/workflows/github-actions-pandoc-pdf.yml

As we now build the book via jupyter books.

@tomhull ok for you?

[2022-05-31 09:56] tomhull commented on #221
fine by me

On Tue, 31 May 2022 at 10:39, Sören Thomsen ***@***.***>
wrote:

[2022-05-31 10:08] soerenthomsen commented on #221
PR #222 implements this issue

[2022-05-31 10:10] #221 closed

[2022-05-31 13:30] soerenthomsen commented on #220
installed
`pip install pyppeteer`
and
`pip install pybtex-apa-style`

As listen in the [requirements.txt](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/requirements.txt) file

[2022-05-31 13:32] soerenthomsen commented on #220
<img width="1440" alt="Screenshot 2022-05-31 at 15 32 06" src="https://user-images.githubusercontent.com/32633545/171185630-f8e2b563-5186-404b-a38e-219a27b4f569.png">

[2022-05-31 13:34] soerenthomsen commented on #220
Something happened in the html folder but the building did not fully work
<img width="1440" alt="Screenshot 2022-05-31 at 15 33 27" src="https://user-images.githubusercontent.com/32633545/171186013-a08bbc32-a38d-4de9-b129-1d0b45763571.png">

[2022-05-31 13:34] soerenthomsen commented on #220
Something happened in the html folder but the pdf folder is still empty

<img width="1153" alt="Screenshot 2022-05-31 at 15 33 32" src="https://user-images.githubusercontent.com/32633545/171186185-cd5375a4-206f-457b-8498-250e7f3c797d.png">

[2022-05-31 13:54] soerenthomsen commented on #220
We decided to build the pdf directly in the repo to avoid these problems.
See GitHub Action [here](https://github.com/OceanGlidersCommunity/Oxygen_SOP/blob/main/.github/workflows/build_book.yml)

[2022-06-01 10:10] soerenthomsen commented on #220
Sorry, I had to reopened this as I realised that the pdf has no page numbers :(
Hope we can fix this quickly!

[OceanGliders_Oxygen_SOP_v1.0.0.pdf](https://github.com/OceanGlidersCommunity/Oxygen_SOP/files/8813153/OceanGliders_Oxygen_SOP_v1.0.0.pdf)

[2022-06-01 10:30] #49 closed

[2022-06-01 13:12] jbusecke commented on #220
Trying some things in #224

[2022-06-01 13:33] soerenthomsen commented on #220
Thanks a lot. Let me know if I can do anything. I could not find anything in the Jupyter Book documentation.

[2022-06-01 14:18] jbusecke commented on #220
It seems to be under active discussion: https://github.com/executablebooks/jupyter-book/issues/546

But I am not sure that will help us here. I see two options:
- Use latex to generate the pdf and hope that has page numbers (trying that right now)
- Add some custom html to show page numbers (maybe [this](https://stackoverflow.com/questions/20050939/print-page-numbers-on-pages-when-printing-html) c

[2022-06-01 14:19] jbusecke commented on #220
YISSSS, the latex worked. I actually think it looks a bit cleaner than the html version too.

Can you check if [this](https://github.com/OceanGlidersCommunity/Oxygen_SOP/suites/6747632683/artifacts/257745197) works?

[2022-06-02 17:52] soerenthomsen opened #227 "Doi allocated by OBPS, make doi shield"
Yay! We have a doi:
http://dx.doi.org/10.25607/OBP-1756

And can get cited:
"López-García,, P., Hull, T., Thomsen, S., Hahn, J., Queste, B.Y, et al (2022) OceanGliders Oxygen SOP, Version 1.0.0. OceanGliders, 55pp. DOI: http://dx.doi.org/10.25607/OBP-1756 (GitHub Repository, OceanGliders Oxygen SOP. Available: https://oceangliderscommunity.github.io/Oxygen_SOP/sections/authors_SOP_development_proc

[2022-06-02 18:05] soerenthomsen commented on #227
@jbusecke pointed me to this https://shields.io/ but don't completely understand how it works exactly?! 🍡

[2022-06-03 21:41] jbusecke commented on #227
Actually how about we make a [CITATION.cff file](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-files) instead?

[2022-06-20 15:42] soerenthomsen opened #234 "utterance commentary function does not work?!"
Hi @jbusecke,

during a workshop we just realised that the commentary function below our beloved SOPs is gone?
Any idea what happened?

Cheers

[2022-06-20 19:38] callumrollo commented on #234
I've done a bit of digging. Looks like the culprit is the div name of sections. UItterances identifies sections presumably to create a seperate set of comments for each one.

Inspect element shows this block is throwing an error

[code]

It's looking for divs with class "section"
 In the Nitrate SOP, where comments are working, we do see these divs, e.g.

`<div class="section" id="questions">`

me

[2022-06-20 20:50] callumrollo commented on #234
Even changing the JS to search for section, it still throws an error later on. Can't figure out why jupyter-books changed to using section rather than div.section :/

[2022-06-21 07:07] soerenthomsen commented on #234
Thanks @callumrollo for digging!

It is strange but maybe helps to find the error that indeed the commentary function works for the nitrate SOP but not for the oxygen and salinity.  And even more confusing not for the Depth Average Current SOP as we have not changed anything there for a long time.

@jbusecke and myself pushed quite some PR's lately to the Oxygen SOP to create the pdf (just for Oxy

[2022-06-21 12:49] soerenthomsen commented on #234
Here @callumrollo fixed it quickly for the salinity SOP ahead of the workshop starting now.
https://github.com/OceanGlidersCommunity/Salinity_SOP/pull/139

[2022-06-21 15:38] jbusecke commented on #234
This would be an excellent question to ask over there! Great job digging out the reason for the failure!

[2022-06-21 16:00] callumrollo commented on #234
I've filed an Issue with jupyter-book. It's late in the day here, but I'll try making a minimum reproducible example tomorrow

[2022-06-21 16:01] jbusecke commented on #234
Amazing. Thanks for the work. Glad there was an intermediate fix!

[2022-06-21 16:04] soerenthomsen commented on #234
Thanks @callumrollo and @jbusecke for your support on this!

[2022-06-22 10:19] soerenthomsen commented on #234
So we keep this open for now until we find a long term fix?

[2022-06-22 11:40] callumrollo commented on #234
Yeah, let's see what comes out of the jupyter-books Issue. Pinning on a previous version isn't ideal and could create problems down the line. It's the best fix we've got for now though.

https://github.com/executablebooks/jupyter-book/issues/1762

[2022-06-22 22:59] vturpin opened #238 "recommended configuration to compute DOXY"
In section [6.1](https://oceangliderscommunity.github.io/Oxygen_SOP/sections/oxygen_rtqc.html#required-metadata-and-real-time-data-processing) could you clarify the meaning of "recommended configuration" ? It is not clear to me whether the "salinity compensation of MOLAR_DOXY, pressure correction for pressure effect on quenching, temperature compensation" represent the recommended configuration in

[2022-06-23 12:10] soerenthomsen opened #239 ""Used by" shield"
I saw that for some software packages you can see who "uses them".

Is that possible to add to this SOP? i.e. @callumrollo uses them for VOTO I think? And SouthAfrica? @isgiddy

This would help to show how far we are in harmonising methods etc.

[2022-06-27 08:53] callumrollo commented on #239
Hi Soeren, from what I've gathered, the "used by" functionality comes from the [dependency graph](https://docs.github.com/en/code-security/supply-chain-security/understanding-your-software-supply-chain/about-the-dependency-graph). Looking at [cmcrameri](https://github.com/callumrollo/cmcrameri), a Python package I maintain, I see that the "used by" projects are Python projects that have cmcrameri

[2022-06-27 09:09] soerenthomsen commented on #239
Ok! Thanks for checking! So we need to think about another way to list who is using this SOP.

[2022-08-19 13:58] tomhull commented on #238
I suggest this section is rewritten to say:
"Correction of oxygen concentration requires a configuration which includes salinity and pressure)".

[2022-08-25 13:54] cgourcuf commented on #238
To be even more precise I would change "_Configurations for the calculation of DOXY are function..._" by "_Corrections for the estimation of DOXY are function..._" and "_The recommended configurations..._" in the 2nd sentence by "_The recommended corrections..._"

[2022-11-12 16:33] utterances-bot opened #245 "Oxygen_SOP/README"
# OceanGliders Oxygen SOP — OceanGliders Oxygen SOP

[https://oceangliderscommunity.github.io/Oxygen_SOP/README.html](https://oceangliderscommunity.github.io/Oxygen_SOP/README.html)

[2022-11-12 16:33] soerenthomsen commented on #245
Test

[2022-11-12 16:34] #239 closed